<ion-header>
  <ion-navbar>
    <ion-title>Kategorien</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class=" cards-bg">

  <ion-card class="cards-list-demo">
    <ion-card-header>
      Kategorien
    </ion-card-header>

    <ion-list>
      <button ion-item *ngFor="let category of categories" (click)="openPercentPage(category)">
        <ion-icon name="{{category.icon}}" item-start></ion-icon>
        {{category.name}}
      </button>
    </ion-list>
  </ion-card>

  <p *ngFor="let team of teams">{{team.name}}: {{team.points}}</p>

</ion-content>